!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = render partial: 'nfg_ui/app_icons/icons'
    %title Create
    = stylesheet_link_tag "nfg_onboarder/application"
    = javascript_include_tag "nfg_onboarder/application", "data-turbolinks-track" => "reload"
    = csrf_meta_tags
  %body{ class: "#{controller_path.gsub('/', '-')} #{try(:step).try(:to_s)} #{try(:file_origination_type).try(:type_sym)}" }

    = yield
    = yield :before_closing_body
