- if controller.wizard_steps.count > 1
  = ui.nfg :breadcrumb, class: 'nav-secondary' do
    - controller.wizard_steps.each_with_index do |step, index|
      = ui.nfg :breadcrumb_item, class: get_onboarding_nav_status(step) do
        = link_to wizard_path(step) do
          - if (step == :submit_for_review) && (!required_approval?)
            = t('onboarding.create_fundraiser.launch_your_campaign.step')
          - else
            = t(step, scope: locale_namespace + [:step_navigations], default: step.to_s.humanize)
